/*500 PX*/

@media (max-width:500px) {
    .container nav ul a {
        font-size: 13px;
    }

    .banner {
        font-size: 50px;
    }

    .secao_home .secao_home-video iframe {
        margin: 0 0px 0px 20px;
        align-items: center;
        width: 400px;
        height: 250px;
    }

    .secao_home .secao_home-texto h3 {
        font-size: 25px;
    }

    .contato-informacoes .lado-esquerdo p {
        width: 100%;
        font-size: 15px;
    }

    .idt {
        font-size: 12px;
    }

    .secao_home .container .cod {
        margin-left: 22px;
    }

    .whats {
        bottom: 40px;
        right: 0px;
    }

    .whats a img {
        width: 60%;
        height: 60%;
    }

    /* .whats img{
        padding:  25px 0;
         margin:0 10px 0px 0px; 
        width: 50%;
        height: 50%;
        align-items: end;   
    } */

    /*SOBRE RESP 500*/
    .sobre {
        margin: 0;
    }

    .sobre .container {
        align-items: center;
        text-align: center;
    }

    .sobre .container h3 {
        font-size: 30px;
    }

    .sobre .container h4 {
        font-size: 15px;
    }

    .sobre .container p {
        font-size: 12px;
    }

    .footer p {
        font-size: 18px;
    }

    .footer .idt {
        font-size: 13px;
    }

    /*END SOBRE RESP 500*/

    /*eventos*/
    .eventos .eventos-texto {
        flex-wrap: wrap;
        margin-bottom: 100%;
        /*área total*/
        margin-top: 10px;
        padding: 0 20px;
    }

    .eventos .eventos-texto h3 {
        text-align: center;
        font-size: 28px;
    }

    .eventos .eventos-texto h4 {
        font-size: 18px;
    }

    .eventos .eventos-texto dd {
        font-size: 13px;
    }

    /*end eventos*/

    /*contato resp */
    .contato-informacoes .lado-direito {
        /*parei aqui*/
        padding: 20px;
        width: 100%;
        height: 100%;
    }

    .contato-informacoes .lado-direito input,
    .contato-informacoes .lado-direito textarea {
        font-size: 15px;
    }

    .contato-informacoes .lado-direito .botao {
        font-size: 15px;
        margin: 0 120px;

    }

    .contato h4 {
        font-size: 15px;
        text-align: center;
    }

    /*end contato resp 500*/

    .container .lado-direito form button {
        display: flex;
        /*isso impediu a pg de se mexer em 384*/
    }

    .container .lado-direito .botao {
        align-items: center;
        margin-left: 98px;
    }

}

/*END 500 RESP*/