@media (max-width:370px) {
    .container nav ul a {
        margin: 10px;
        font-size: 10px;
    }

    .banner {
        font-size: 50px;
    }
    .container .banner h1 {
        font-size: 11px;
    }

    .container .ul .bt-nav {/*Botões do menu*/
        padding: 8px 10px;
        text-align: center;
    }

    /*HOME*/   
     .secao_home .secao_home-texto h3 {
        width: 200%;
        margin: -20px -55px 8px;
        text-align: center;

    }     
     .secao_home .container .secao_home-texto p {
        width: 200%;
        margin: 0 -55px;
        text-align: center;
        font-size: 15px;
        flex-wrap: wrap;
    }
    .secao_home .secao_home-img img {
        width: 100%;
    }
    .secao_home .secao_home-video iframe {
        margin: 0 0px 0px 0px;
        align-items: center;
        width: 100%;
        height: 100%;
    }
    .secao_home .secao_home-texto .botao {
        margin: 30px -10px 0px;
        text-align: center;
        font-size: 10px;
        width: 120%;
    }

    .secao_home .cod {/*Livros*/
        margin-top: -30px;
    }
    /*End HOME*/

    /*SOBRE RESP 370*/
    .container .sobre-texto {
        margin: 0;
    }
    .container .sobre-texto h3 {
        width: 100%;
        text-align: center;
        font-size: 22px;
        padding-left: 40px;
    }
    .container .sobre-texto p {
        text-justify: auto;
        font-size: 12px;
        margin: 20px;
    }
    .container .sobre-texto h4 {
        margin: 20px;
        width: 100%;
        font-size: 12px;
        text-align: center;
    }
    .container .sobre-img {
        margin-top: 70px;
    }
    /*end sobre 370*/

    /*EVENTOS*/
    .eventos .eventos-texto {
        flex-wrap: wrap;
        margin-bottom: 100%;
        /*área total*/
        margin-top: 10px;
        padding: 0 20px;
    }
    .eventos .eventos-texto h3 {
        text-align: center;
        font-size: 30px;
    }
    .eventos .eventos-texto h4 {
        font-size: 20px;
    }
    .eventos .eventos-texto dd {
        font-size: 15px;
    }
    /*End Eventos*/

    /*FOOTER*/ 
    .footer {
        font-size: 12px;
    }
    .footer p {
        font-size: 14px;
    }
    .footer .idt {/*Desenvolvido por*/
        font-size: 10px;
    }
    /*End Footer*/

    /* .container .ul .botao {background: red;
        font-size: 10px;
        width: 70px;
        flex-wrap: wrap;
    } */

    /*CONTATO*/
    .contato-informacoes .lado-esquerdo p {
        width: 100%;
        font-size: 12px;
    }
    .contato-informacoes .lado-direito {
        padding: 20px;
        width: 100%;
        height: 100%;
    }
    .contato-informacoes .lado-direito input,
    .contato-informacoes .lado-direito textarea {
        font-size: 12px;
    }
    .contato-informacoes .lado-direito .botao {
        font-size: 15px;
        justify-content: center;
        margin: 0 50px;
    }
    /*End Contato*/

    /*Botão WhatsApp*/
    .whats {
        bottom: 30px;
        right: -10px;
    }
    .whats a img {
        width: 50%;
        height: 50%;
    }
    /*End Botão WhatsApp*/

}