/*MENU MOBILLE*/
@media(max-width: 830px) {
    /*Quando a tela for menor que isso...*/
    /*mobile*/

    .ul {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
    }

    .ul a {
        width: 100%;
    }

    .container nav ul {
        align-items: center;
        margin-top: 5px;
        padding: 0 95px 0;
        width: 100%;
        height: 100%;
    }

    .footer .container {
        width: 100%;
        height: 100%;
    }

    /*banner responsivo*/
    .banner {
        width: 100%;
        height: 100%;
        align-items: center;
        padding: 0;
        margin: 60px 80px 80px 0;
    }

    .banner img {
        align-items: center;
        width: 100%;
        height: 100%;
        /* flex-wrap: wrap; */
    }

    .banner h1 {
        font-size: 17px;
    }

    /*end banner responsivo*/

    /*Página home responsiva*/
    .secao_home .secao_home-texto {
        margin-top: 10px;
        padding: 0 20px;
        order: 1;
        /*muda a órdem da div faça mais text para o outro lado lá no site*/
    }

    .secao_home .secao_home-texto {
        flex-wrap: wrap;
        align-items: center;
        margin-top: -30px;
        align-items: center;
        /*Ocupar 100% da largura*/
    }

    .secao_home .container {
        flex-direction: column;
        /*muda a direção para coluna*/
    }

    .secao_home .secao_home-texto h3 {
        display: flex;
        font-size: 40px;
    }

    .secao_home .secao_home-texto div img {
        width: 100%;
        display: block;
        align-items: center;
    }

    .secao_home .container .cod {
        margin-left: 20px;
    }

    .secao_home .secao_home-video {
        display: flex;
        align-items: center;
        margin-top: 100px;
        order: 1;
    }

    .secao_home .secao_home-video .video {
        width: 637px;
        height: 392px;
        flex-wrap: wrap;
    }

    .secao_home .secao_home-img {
        margin-top: -50px;
        display: flex;
        justify-content: center;

    }

    .whats {
        bottom: 10px;
        right: 0px;

    }

    .whats a img {
        width: 80%;
        height: 80%;
    }

    /* .whats img{    
        margin: 0 0 -30px 10px;
        width: 70%;
        height: 70%;
        flex-wrap: wrap;   
    } */

    /*Sobre responsivo*/
    .sobre .container {
        display: block;
    }

    .sobre .sobre-texto {
        margin: 0px;
        flex-wrap: wrap;
        text-align: center;
        width: 100%;
    }

    .sobre .sobre-texto h3 {
        margin: 15px 20px;
        text-align: center;
        font-size: 35px;
        width: 100%;
        margin-top: -50px;
    }

    .sobre .sobre-texto p {
        font-size: 100%;
        align-items: center;
        margin: 15px 20px;
        width: 100%;
    }

    .sobre .sobre-img {
        width: 100%;
        height: 100%;
    }

    .sobre .sobre-img img {
        margin-top: -40px;
        width: 100%;
    }

    /*end Sobre Responsivo*/

    /* PÁGINA EVENTOS*/
    .eventos .eventos-texto {
        flex-wrap: wrap;
        margin-bottom: 100%;
        /*área total*/
        margin-top: 10px;
        padding: 0 20px;
    }

    .eventos .eventos-texto h3{
        text-align: center;
        font-size: 40px;
    }
    .eventos .eventos-texto h4{
        font-size: 30px;
    }
    .eventos .eventos-texto dd{
        font-size: 25px;
    }

    /* END PÁGINA EVENTOS*/

    /*CONTATO RESP*/
    .banner {
        width: 100%;
    }

    .contato .mapa iframe {
        width: 100%;
        height: 400px;
    }

    .contato h4 {
        margin-top: -20px;
    }

    /* .container  i{
        width: 100%;
    } */
    .container .contato-informacoes {
        width: 100%;
        display: block;
    }

    .contato-informacoes .lado-esquerdo {
        width: 100%;
    }

    .footer .container {
        width: 100%;
        height: 100%;
    }

    .contato-informacoes .lado-direito {
        padding: 20px;
        width: 100%;
        height: 100%;
    }

}

/*END MOBILLE*/